@import '~styles/variables.scss';
@import '~styles/layout.scss';
  
main {
    margin: 30px auto;
    position: relative;
    padding: 10px 5px;
    background: hsla(0,0%,100%,.3);
    font-size: 100%;
    font-family: $fontParagraph;
    line-height: 1.5;
    border-radius: 10px;
    width: 90%;
    max-width: 650px;
    box-shadow: 5px 3px 30px black;
    overflow: hidden;
    color: #fff;
    text-align: center;
    transition: all 0.5s;
    animation: bounce 0.5s ease-in-out;

    @include breakpoint ($mediumScreen) {
        width: 60%;
    }
}
  
main::before {
    content: '';
    background: url(/assets/images/background.jpeg) 0 / cover fixed;
    background-position: center;
    margin: -35px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(20px);
    z-index: -1;
}

main.left {    
    @include breakpoint ($mediumScreen) {
        width: 40%;
        margin: 35px 0;
        border-radius: 0 10px 10px 0;
        text-align: left;
    }
}

main.nav-active {
    z-index: -1;
}

blockquote {
    p {
        padding: 0;
    }
}

footer {
    padding-top: 20px;
    font-weight: bold;
}
  
cite {
    font-style: normal;
    font-size: 22px;
}

@keyframes bounce {
    from { transform: translate3d(0, 30px, 0);     }
    to { transform: translate3d(0, 0, 0);     }
}