@import '~styles/layout.scss';
@import '~styles/common.scss';

.about-me {
    height: 70vh;
    background-image: url(/assets/images/background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 15px;

    @include breakpoint ($mediumScreen) {
        background-image: url(/assets/images/background-landscape.jpg);
        height: 75vh;
    }
}

.paragraph-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $colorInvert;
    background-color: $colorBackgroundDark;
    padding: 25px 0;
}