@import '~styles/layout.scss';

header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    @include breakpoint ($mediumScreen) {
        flex-direction: row;
        align-items: flex-start;
    }
}

