@import "~styles/variables.scss";

body {
    @include breakpoint ($smallScreen) {
        background-position: center 89px;
    }
}

#page-title {
    font-family: $fontHeading;
    font-size: 2em;
    text-transform: uppercase;
    // text-align: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding: 0 1em;
    font-family: $fontParagraph;
    font-weight: 300;
    font-size: 1em;
}

section {
    height: 100vh;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}