@import url('https://fonts.googleapis.com/css?family=Roboto:black');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import url('https://fonts.googleapis.com/css?family=Raleway:300');

$colorAccent: #00A6E1;
$colorBase: #333;
$colorInvert: #fff;
$colorBackgroundDark: rgba(0, 0, 0, 0.64);

$fontLogo: "Roboto", sans-serif;
$fontHeading: "Lato", sans-serif;
$fontParagraph: "Raleway", sans-serif;