@import '~styles/variables.scss';
@import '~styles/layout.scss';

.connect {
    display: flex;
    justify-content: space-between;
    width: 175px;
    margin: 0 auto;

    a {
        font-size: 1.5em;
        color: inherit;
        transition: all 0.5s;

        &:hover {
            color: $colorAccent;
        }
    }
}
.connect.left {
    margin: 0 auto;

    @include breakpoint ($mediumScreen) {
        margin: 0;
    }
}