@import '~styles/variables.scss';

.connect {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin: 0 auto;

    a {
        font-size: 1.5em;
        color: inherit;
        transition: all 0.5s;

        &:hover {
            color: $colorAccent;
        }
    }
}