@import url('https://fonts.googleapis.com/css?family=Lato');

#menu {
  width: 600px;
  padding-top: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -300px;
  z-index: 3;
  text-align: center;
  -webkit-animation: fadeInDown .6s 0.5s ease both;
  -moz-animation: fadeInDown .6s 0.5s ease both;
  -ms-animation: fadeInDown .6s 0.5s ease both;
  -o-animation: fadeInDown .6s 0.5s ease both;
  animation: fadeInDown .6s 0.5s ease both;
}

.logo {
  width: 235px;
  height: 45px;
  position: absolute;
  left: 50%;
  margin-left: -117.5px;
  background: url(../assets/images/logo.svg) no-repeat;
  background-size: 100%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#header {
  background: no-repeat center right fixed url(../assets/images/test.jpg);
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/background.jpg', sizingMethod='scale')";
  // filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/background.jpg', sizingMethod='scale');
  margin-bottom: 0px;
  padding: 0px;
  color: inherit;
  background-color: #eee;
  height: 100vh;

  .container {
    position: relative;
    top: 28%;
    z-index: 4;
    text-align: center;
    max-width: 100%;
    padding: 40px 180px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: #FFF;
  }

  .overlay {
    background-color: #333;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.75;
    filter: alpha(opacity=75);
    z-index: 2;
  }

  h1 {
    font-family: 'Lato', sans-serif;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    border-bottom-color: rgba(255,255,255,0.35);
    display: inline-block;
  }
}

p {
  margin: 0 0 10px
}
