<div id="menu">
  <div class="logo">
    <div class="image"></div>
    <h2 class="slogan">{{'{'}}EthanHan{{'}'}}</h2>
  </div>

  <div
  class="nav container"
  [ngClass]="menuStatus ? 'change' : ''"
  (click)="menuToggle()">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
</div>

<header id="header">
  <div class="container">
    <h1>
      <span class="var">$ethan_han</span> = 
      <span class="str">'Web Developer'</span>;
    </h1>

    <div class="connect">
      <p>{{subtitle}}</p>
      <a href="https://www.linkedin.com/in/ethanhan" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/ethanhan777" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.drupal.org/u/ethanhan777" target="_blank"><i class="fab fa-drupal"></i></a>
    </div>
  </div>

  <a [ngx-scroll-to]="'#content'" class="content-arrow">
    <fa-icon [icon]="faChevronDown"></fa-icon>
  </a>

  <div class="overlay"></div>
</header>

<div id="content">
  <profile class="profile"></profile>
  <skills class="skills"></skills>
  <projects class="projects"></projects>
  <contact class="contact"></contact>
</div>
