@import '~styles/variables.scss';
@import '~styles/layout.scss';

#logo {
    display: flex;
    align-items: center;
    color: $colorBase;
    text-decoration: none;

    h1 {
        font-family: $fontLogo;
        margin: 0;
        font-size: 1.725em;
        line-height: 0.8em;

        display: flex;
        flex-direction: column;
        text-align: right;

        @include breakpoint ($smallScreen) {
            font-size: 2.25em;
        }
    }

    img {
        width: 100%;
        height: auto;
    }

    .cover {
        width: 50px;
        height: auto;
        margin: 0 7px;

        @include breakpoint ($smallScreen) {
            width: 65px;
        }
    }
}
